<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, <%= @user %></h1>
    <p>
      You have been invited to Title: <%= @event.title %>,
                            Location:  <%= @event.street_number %>
                              <%= @event.route %>
                              <%= @event.city %>
                              <%= @event.provence %>
                              <%= @event.country %>
                              <%= @event.postal_code %>

                                Date: <%= @event.date %>,
                                Time: <%= @event.time %>,
                                Description: <%= @event.description %> <br>

    </p>

      <p> Tomorrows temperature in <%=@event.city %> is: <%=@temp_f %>  </p>

    <p>
      To login to the event, just follow this link: <%=  event_url(@event) %>.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
