<div class="col-xs-6 col-sm-2">
  <h3> Name: </h3>
  <%= @user.name %> </h3>

  <br>
  <h3> Email: </h3>
  <%= @user.email %> </h3>

  <%= image_tag @user.picture.url, :class => "user_avatar" if @user.picture? %>
  <br>

  <button type="button" class="btn btn-info"><%= link_to "Update User Info", edit_user_path(@user) %></button>
</div>

<div class="col-md-8">
  <h1> Manage Relationships </h1>

  <%= form_tag user_relationship_path do %>

    <p> First, select what group you want to move your friends in </P>
    <%= select_tag(:classification, options_for_select([['Friend', Relationship::REL_FRIEND ], ['Other', Relationship::REL_OTHER], ['Family', Relationship::REL_FAMILY], ['School', Relationship::REL_SCHOOL], ['Co-Worker', Relationship::REL_COWORKER] ])) %>

    <p> Then, select what friends you want moved into the group </p>
    <% @classifications.each do |classification| %>
    <div id= "<%= classification[:id] %>", class = "<%= classification[:class] %>">
      <h1>  <%= classification[:title] %> </h1>
        <% @relationships.each do |relationship| %>
          <% if relationship.classification ==  classification[:classification] %>
            <%= render 'check_box', :relationship => relationship %>
          <% end %>
      <% end %>
    </div>
    <% end %>

    <%= submit_tag("Update Friendship") %>

  <% end %>
</div>
